/** CSS STYLE **/

* {
  margin: 0;
  padding: 0;

  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Neucha;
  src: url("./fonts/ofont.ru_Neucha.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSans.ttf");
}

:root {
  --orange-mark: #fe8a02;
  --white-color: #fff;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
  --dark-color: #2a2626;
  --dark-light-color: #908d8b;
  --main-color-trans: #d7ccc0;
  --main-color-light: #f5f4f0;
  --main-color-dark: #42413c;
}

h2 {
  color: var(--orange-mark);
  font-weight: 400;
  font-size: 60px;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 72px;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 40px;
}

body,
ul,
ul.li,
p {
  color: var(--dark-color);
  font: 16px/1.6em OpenSans, sans-serif;

  font-weight: 400;
}

header {
  position: relative;

  margin: 0;
}

.bg::before {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  vertical-align: middle;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.content-width {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

div.content-width {
  position: relative;
}

.content-section {
  position: relative;

  padding: 100px 165px;

  background-color: var(--main-color-light);
}

.title {
  color: var(--dark-color);
  font-weight: 400;
  font-family: Neucha, sans-serif;
  font-style: normal;
}

.orange-mark {
  color: var(--orange-mark);
}

.white-mark {
  color: var(--white-color);
}

.header-title-text {
  font-size: 72px;
  line-height: 86.4px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.header-columns-row {
  position: relative;
  z-index: 2;

  display: flex;
  margin: 0 -15px;
  padding: 185px 0 0;
  overflow: hidden;
}

.header-columns-column1 {

  flex: 0 0 50%;

  padding-right: 15px;
}

.header-columns-column2 {

  flex: 0 0 50%;
  padding-left: 15px;
}

.column2-body p:nth-of-type(2) {
  margin-bottom: 40px;
}

.column2-btn {
  display: block;

  width: 148px;
  height: 49px;

  padding-top: 12px;
  padding-bottom: 12px;

  text-align: center;

  background-color: var(--orange-mark);
}

.link-text {
  color: var(--dark-color);
  text-decoration: none;
}

.text-column2-btn {
  color: var(--white-color);
  font-weight: 700;
  line-height: 160%;

  text-transform: uppercase;
}

.column2-btn:hover {
  cursor: pointer;
}

.video-section {
  margin: 0 0 -100px;
}

.video-section-content {
  padding: 100px 165px 0;

  text-align: center;

  background-color: var(--white-color);
}

.video-title {
  vertical-align: middle;
}

.video-title-text {
  font-size: 60px;
  line-height: 72px;
}

.video-body-text {
  padding: 30px;
}

.video-content {
  position: relative;
  z-index: 2;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.nav-content-section {
  z-index: 1;

  max-width: 1440px;
  padding: 200px 165px 80px;

  background-color: var(--main-color-dark);
}

.nav-flex-columns {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.columns-column {
  flex: 0 0 31.53%;

  margin: 0 0 20px;
}

.nav-column-item {
  padding: 24px;
}

.nav-column-item-title {
  padding: 24px 0 0;
}

.column-item-flex {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.item-title {
  font-size: 52px;
  line-height: 62.4px;
}

.nav-card {
  background-color: var(--main-color-light);
}

.item-number {
  font-size: 60.4px;
  line-height: 70.5px;
}

.item-card-title {
  font-size: 34px;
  line-height: 40.8px;
}

.item-text {
  padding: 16px 0 0;

  font-size: 16px;
  line-height: 25.6px;
}

.mg-r-15 {
  margin-right: 15px;
}

.mg-l-15 {
  margin-left: 15px;
}

.nav-card:hover {
  position: relative;
  top: -10px;
  left: 10px;
}

.card-content {
  padding: 100px 165px;
}

.flex-img-block {
  display: flex;

  padding-bottom: 100px;
}

.flex-img {
  align-items: center;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.flex-block-pd-l-30 {
  padding-left: 30px;
}

.flex-block-pd-r-30 {
  padding-right: 30px;
}

.small-title {
  color: var(--dark-light-color);

  font-size: 24px;
  line-height: 28.8px;
}

.big-title {
  font-size: 60px;
  line-height: 72px;
}

.block-text {
  padding-top: 30px;

  font-size: 34px;

  line-height: 41px;
}

.brown-bg {
  background-color: var(--brown-color);
}

.white-bg {
  background-color: var(--white-color);
}

.card-tab-text {
  padding: 5px 0 5px 10px;

  font-weight: 700;
  font-size: 14px;

  line-height: 17px;
}

.wh-color {
  color: var(--white-color);
}

.wh2-color {
  color: var(--main-color-trans);
}

.brown-color {
  color: var(--brown-color);
}

.flex-two-columns {
  display: flex;
  padding-top: 20px;
}

.card-column1 {
  flex: 0 1 50%;

  margin: 0;
  padding-right: 15px;
}

.card-column2 {
  flex: 0 1 50%;

  margin: 0;
  padding-left: 15px;
}

.footer-content-section {
  padding: 100px 165px;
}

.footer-flex-block {
  display: flex;

  padding: 55px;

  background-color: var(--main-color-dark);
}

.footer-flex-column1 {
  flex: 0 0 50%;
}

.column1-title {
  font-size: 34px;
  line-height: 120%;
}

.footer-flex-column2 {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  justify-content: center;
}

.footer-form-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.form-input-block {
  position: relative;

  margin-top: 9px;
}

input.text {
  width: 430px;
  height: 50px;

  padding: 0 15px;
}

.img-send {
  position: absolute;
  top: 0;
  right: 0;

  width: 70px;
  height: 50px;

  background-color: var(--orange-mark);
}

.img-send::before {
  position: absolute;
  top: 15px;
  left: 25px;

  display: inline-block;

  width: 20px;
  height: 20px;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: contain;

  content: "";
}

.footer-subscribe-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
}

.footer-source {
  padding: 16px 0;
}

.source-link {
  color: var(--blue-color);
}

.hexlet-link {
  color: var(--blue-color);
}

.footer-signed-block {
  padding-top: 60px;

  font-size: 14px;
  line-height: 22.4px;

  text-align: center;
}
